
body
{
  color: white;
  font-family: 'Playfair Display', serif;
  background: rgb(146,192,255);
background: linear-gradient(0deg, rgba(146,192,255,1) 0%, rgba(203,245,255,1) 100%);
}

.heading{
    border-radius: 10px;
   background-color: #92c0ff;
   font-family: 'Playfair Display', serif;
   font-size: 30px;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
  border-radius: 10px;
}
#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}

.button{
    background-color: #92c0ff;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    height: 40px;
}
.button:hover{
    background-color: azure;
    color: #92c0ff;
}